<!-- index.html -->
{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12"><
            <h1>MTGO Card Prices For: {{card_name|safe}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><img src={{card_image_url}} alt='card_image'/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Sell Prices</h2>
            {{sell_prices|safe}}
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h2>Buy Prices</h2>
            {{buy_prices|safe}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/">Search Again</a>
        </div>
    </div>
</div>
{% endblock %}